<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/access.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Index</h1>
                <div class="card">
                    <div class="card-body">
                        {% if error %}
                        <div class="alert alert-danger" role="alert" text="{{error}}"></div>
                        {% endif %}
                        <div class="col text-center">
                            <h1 class="bottom">Hi {{session.user.nome}}!</h1>
                            </br> Welcome to the index page</br>
                            <div class="col text-center">
                                <p>Clicca qui per fare il quiz</p>
                                <a href="{{ url_for('quiz') }}" class="btn btn-link">Quiz</a>
                            </div>
                        </div>

                        <div class="col text-center">
                            <form action="{{ url_for('logout') }}" method="post">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Logout</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>